@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --main-bg-color: #1a202c;
    --secondary-bg-color: #1E2533;
    --alt-bg-color: #2d3748;
    --main-text-color: #ffffff;
    --alt-text-color: #cbd5e0;
    --main-border-color: #171D26;
    --action-color: #808080;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-c {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.padding-m {
    padding: 10px; 
}

.padding-l {
    padding: 20px;
}

.rounded-s {
    border-radius: 4px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: var(--main-text-color);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/* loader */
.loader {
    border: 4px solid var(--alt-text-color);
    border-radius: 50%;
    border-top: 4px solid var(--action-color);
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}
  

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}